

.profile-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
p{
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

h4{
    width: fit-content  ;
}

.skills-section{
    background-color: #F8F9FA;
}

.skills-title{
    background-color: #5F9DF7;
    padding: 1em;
    width: fit-content !important;
    text-align: center;
}

.skill-image{
    width: 100px;
    height: 100px;
}

/* RESUME SECTION */

.resume-card{
    border-left: 5px solid #5F9DF7;
    
    padding: 1em 0 0 1em;
}

.resume-card-description{
    border-bottom: 1px solid #d5d5d5
}